@import "./fonts";
@import "./media";
@import "./constants";

body {
  margin: 0;
  font-family: "NunitoSans-Regular", sans-serif !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  font-family: "NunitoSans-Regular", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: #fafafa;
  overflow: hidden;
}

#main-content {
  // CALCULATION  - FOOTER - HEADER
  // min-height: calc(100vh - 265px - 125px);
  // height: 100vh;
  // padding: 25px 0;
}

input,
button {
  outline: none !important;
}